:root {
    --clr-button-clickr: #1d69be;
}

/* * {
    border: 1px dotted black;
} */

html {
    height: 100vh;
}

body {

    display: grid;
    grid-template-rows: 10vh 80vh 5vh;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    /* border-bottom: 2px solid gainsboro; */
}

.header-title {
    font-size: 2rem;
    font-weight: 700;
}

.header-text {
    font-size: 1rem;
    font-weight: 700;
}

main {

    margin: 1rem;

    display:grid;
    grid-template-columns: 70% 1fr;

    border-block: 2px solid gainsboro;
}

.container-button-clickr {

    /* border: 2px solid green; */

    
}

#button-clickr {
    
    width: 95%;
    height: 95%;
    /* padding: 30vh 25vh; */
    justify-self: center;
    align-self: center;
    


    background-color: var(--clr-button-clickr);

    color:white;
    font-size: 4rem;
    font-weight: 700;

    border: none;
    border-radius: 1rem;

    box-shadow: 1px 1px 1rem 1px black;
}

#button-clickr:hover {
    cursor: pointer;
}

#button-clickr:active {

    transform: scale(1.02);
    transition: 100ms;
}

.sidebar {

    border-left: 2px solid gainsboro;

}

.score {
    border-bottom: 2px solid gainsboro;
}

.score-total-wrapper {
    text-align: center;
    padding: 1rem;
    
}

.score-total-data {
    padding: 1rem;
    font-size: 3rem;
}

.score-session-wrapper {
    padding: 1rem;
    display:flex;
}

.leaderboard-title {
    font-size: 1.25rem;
    padding: 1rem;
}